<p>
  login works!
</p>
<!-- <h2>Angular 7 Component Communication</h2>
<button (click)="sendMessage()" class="btn btn-primary">Send Message</button>
<button (click)="clearMessage()" class="btn btn-secondary">
  Clear Messages
</button> -->
<div class="example-button-row">
  <a [routerLink]="['/dashboard']" mat-raised-button color="primary">
    Go to full-layout
  </a>
  <!-- <button (click)="captureIt()" mat-raised-button color="primary">
    captureIt
  </button>
  <a
    mat-raised-button
    color="secondary"
    *ngIf="shareableUrl"
    [href]="shareableUrl"
    id="shareIt"
    target="_blank"
    data-action="share/whatsapp/share"
    >Share</a
  > -->
</div>
<!-- 
<div id="capture" style="padding: 10px; background: #f5da55">
  <h4 style="color: #000; ">Hello world!</h4>
</div> -->
